<% if (item.tags && item.tags.length){ %>
  <% var tags = [];
    item.tags.forEach(function(tag){
      tags.push('<span>' + tag.name + '</span>');
    }); %>
  	<div class="article-small-tags">
  		<div></div>
  		<%- tags.join(', ') %>
  	</div>
<% } %>