<div class="linkslist">
  <p class="asidetitle"><%= __('links') %></p>
    <ul>
      <li><a href="http://mypaper.pchome.com.tw/zerojudge" target="_blank" title="Old Blog">Morris' Blog</a></li>
      <li><a href="http://flere114.blogspot.tw/" target="_blank" title="蘿莉勿觸">Flere's Blog</a></li>
      <li><a href="http://m80126colin.github.io" target="_blank" title="許胖們">許胖' Blog</a></li>
    </ul>
</div>
