<% if (site.posts.length){ %>
<div class="categorieslist">
    <p class="asidetitle">Recents</p>
        <ul>
          <% site.posts.sort('date', -1).limit(5).each(function(post){ %>
            <li>
              <a href="<%- config.root %><%- post.path %>"><%= post.title || '(no title)' %></a>
            </li>
          <% }) %>
        </ul>
</div>
<% } %>