<% %>
<div id="recentcomments" class="dsq-widget">
	<p class="asidetitle">Recent Comments</p>
		<script type="text/javascript" src="http://morris1028.disqus.com/recent_comments_widget.js?num_items=5&hide_avatars=1&avatar_size=32&excerpt_length=10&hide_mods=0"></script>
</div>
<% %>