//Color
color-background = #1f1f1f
color-font = #ffffff
color-white = #ffffff
color-blue = #2ca6cb
color-theme = #1f1f1f
color-theme2 = #a6e22e
color-font-nav = #E9CD4C
color-section = #272822
color-footer = #1f1f1f
color-gray = #CCC
color-heading = #ffffff
color-code = #1f1f1f
color-twitter = #00aced
color-facebook = #3b5998
color-weibo = #eb182c
color-google = #dd4b39
color-qrcode= #49ae0f
color-top = #762c54
color-content-level-1 = #f92676
color-content-level-2 = #c8d874

//Media
width-phone = 568px
width-mini = 768px
width-tablet = 1024px
width-desktop = 1560px
phone = "only screen and (min-width: " + width-phone + ")"
mini= "only screen and (min-width: " + width-mini + ")"
tablet = "only screen and (min-width: " + width-tablet + ")"
desktop = "only screen and (min-width: " + width-desktop + ")"

//Font
font-default = "Helvetica Neue", "Helvetica","Microsoft YaHei", "WenQuanYi Micro Hei",Arial, sans-serif
font-serif = "Georgia", serif
font-mono = Monaco, Menlo, Consolas, Courier New, monospace
font-custom-family = "covered_by_your_graceregular"
font-custom-filename = coveredbyyourgrace-webfont
font-icon-family = "FontAwesome"
font-icon-filename = fontawesome-webfont
font-icon-version = "4.0.3"
ShowCustomFont = hexo-config("ShowCustomFont")
font-size = 100%
line-height = 1.5

//image
dataURI = hexo-config("dataURI")
author-img-data = unquote(hexo-config("author_img_data"))
author-img = hexo-config("author_img")
ShowGallery = hexo-config("ShowGallery")
root = hexo-config("root")

//comment
duoshuo = hexo-config("duoshuo.enable")

//highlight
highlight = hexo-config("highlight.enable")
